<span *ngIf = "isEdit" >
  Pid: <input type="text" [(ngModel)] = "product.pid"> 
 Pname: <input type="text" [(ngModel)] = "product.pname">
 Cost: <input type="text" [(ngModel)] = "product.cost">
 Categoryid: <input type="text" [(ngModel)] = "product.categoryid"> </span>
<button *ngIf = "!isEdit" (click) = "sendDelete()" >Delete</button> <button (click) = "toggleEdit()" >{{editButtonText}}</button> 
<button *ngIf = "isEdit" (click) = "cancelEdit()">Cancel</button> 
